button {
  height: 50px;
  width: 60px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e2c49e;
  font-weight: bold;
  transition: .2s;
  cursor: pointer;
}

button:hover{
  background-color: #e1ad6e;
}